<ion-view view-title="Profile">
  	<ion-content>
  	<div class="padding">
  		<h3>Basic Profile</h3>
  		<div class="list">
	    	<div class="w50">
		  		<label class="item item-input">
		  			<input type="text" placeholder="First Name">
		  		</label>
		  	</div>
		  	<div class="w50">
			  	<label class="item item-input">
			    	<input type="text" placeholder="Last Name">
			  	</label>
			</div>
			<div class="w50">  	
		  		<label class="item item-input">
		    		<input type="text" placeholder="Email">
		  		</label>
		  	</div>	
	  		<div class="w50">
		  		<label class="item item-input">
		    		<input type="text" placeholder="Mobile">
		  		</label>
		  	</div>
		  	<div class="pading">	
		  		<label class="item item-input">
		    		<input type="text" placeholder="Present Address">
		  		</label>
		  	</div>
	  		<div class="w50">
		  		<label class="item item-input">
		    		<input type="text" placeholder="city">
		  		</label>
		  	</div>
		  	<div class="w50">	
		  		<label class="item item-input">
		    		<input type="text" placeholder="State">
		  		</label>
		  	</div>
		  	<div class="w50">	
		  		<label class="item item-input">
		    		<input type="text" placeholder="Country">
		  		</label>
		  	</div>
		  	<div class="w50">
		  		<label class="item item-input">
		    		<input type="text" placeholder="Pincode">
		  		</label>
		  	</div>
		  	<div class="pading">
			  	<label class="item item-input">
		    		<input type="text" placeholder="Permanent Address">
		  		</label>
		  	</div>
	  		<div class="w50">
		  		<label class="item item-input">
		    		<input type="text" placeholder="city">
		  		</label>
		  	</div>
		  	<div class="w50">	
		  		<label class="item item-input">
		    		<input type="text" placeholder="State">
		  		</label>
		  	</div>
		  	<div class="w50">	
		  		<label class="item item-input">
		    		<input type="text" placeholder="Country">
		  		</label>
		  	</div>
		  	<div class="w50">
		  		<label class="item item-input">
		    		<input type="text" placeholder="Pincode">
		  		</label><br>
		  	</div>
	  	</div>
	  	<div class="align-center">
		  	<button class="button button-small button-outline button-stable">
	 			Cancel
			</button>
		  	<button class="button button-small button-positive">
	 			Submit
			</button>
		</div>
	</div>
  	</ion-content>
</ion-view>
