<ion-view>
	<ion-content>
		<div class="list padding">
    	<ion-item style='border-color: #3ac6fe;min-height:650px;padding: 10px'>
	    	<h2 class="cart"><i class="icon ion-ios-cart"></i> Your Cart (1)</h2>

        <div class="list cart-details">
	    		<div class="item item-thumbnail-left cart-thumbnail">
	    			<img src="../img/crown.jpg">
	    			<p>Unit 5ltr</p>
  					<p class="price-dtl">
              <span class="input-label">Quantity</span>
              <span class='quant-value'>
                <input type='text'>
              </span>
            </p>
  					<p>AED 11.00</p>
  					<button class="button button-icon button-clear ion-close-circled"></button>
				  </div>
          <div class="item item-thumbnail-left cart-thumbnail">
            <img src="../img/crown.jpg">
            <p>Unit 5ltr</p>
            <p class="price-dtl">
              <span class="input-label">Quantity</span>
              <span class='quant-value'>
                <input type='text'>
              </span>
            </p>
            <p>AED 12.00</p>
            <button class="button button-icon button-clear ion-close-circled"></button>
          </div>
	    	</div>
	    	<div class="buy-btn">
          <button class="button button-small button-positive" ng-click="location('/app/user_details')">Buy</button>
        </div>
      </ion-item>
    </div>
	</ion-content>
</ion-view>