<ion-view>
	<ion-content>
		<div class="list padding">
        	<ion-item style='border-color: #3ac6fe;min-height:650px'>
    	    	<h2 class="cart"><i class="icon ion-ios-cart"></i> Your Cart (1)</h2>

    	    	<div class="list cart-details">
    	    		<a class="item item-thumbnail-left cart-thumbnail" href="">
    	    			<img src="../img/crown.jpg">
    	    			<p>Unit 5ltr</p>
      					<p>Quantity</p>
      					<p>AED 11.00</p>
      					<button class="button button-icon button-clear ion-close-circled"></button>
    				</a>
    	    	</div>
    	    	<div class="buy-btn"><button class="button button-small button-positive" ng-click="location('/app/user_details')">Buy</button></div>
            </ion-item>
    	</div>
	</ion-content>
</ion-view>