<ion-view>
	<ion-content>
		<div class="list padding">
        	<ion-item style='border-color: #3ac6fe'>
    	    	<h2 class="cart"><i class="icon ion-ios-cart"></i> Your Cart (1)</h2>

    	    	<div class="list">
    	    		<a class="item item-thumbnail-left cart-thumbnail" href="">
    	    			<img src="../img/crown.jpg">
    	    			<p>Unit 5ltr</p>
      					<p>Quantity</p>
      					<p>AED 11.00</p>
    				</a>
    	    	</div>
            </ion-item>
    	</div>
	</ion-content>
</ion-view>