<ion-view>
  <ion-content>
    <h3 class="heading">Al Ain Bottled Water</h3>

    <div class="list padding">
    	<a class="item item-thumbnail-left list-space thumbnail" href="#/app/details">
    		<img src="img/crown.jpg">
    		<h2>Al Ain Pure Natural Bottled Water</h2>
    		<i class='icon icon-right ion-ios-arrow-forward'></i>
    		<p class="p-margin">Cups: 100ml, 250ml</p>
    	</a>
    	<a class="item item-thumbnail-left list-space thumbnail" href="#/app/details">
    		<img src="img/crown.jpg">
    		<h2>Al Ain Pure Natural Bottled Water</h2>
    		<i class='icon icon-right ion-ios-arrow-forward'></i>
    		<p class="p-margin">Bottles: 300ml, 500ml, 1.5ltr, 5ltr</p>
    	</a>
    	<a class="item item-thumbnail-left list-space thumbnail" href="#/app/details">
    		<img src="img/crown.jpg">
    		<h2>Al Ain Flavoured Water</h2>
    		<i class='icon icon-right ion-ios-arrow-forward'></i>
    		<p class="p-margin">Bottle: 500ml</p>
    	</a>
    	<a class="item item-thumbnail-left list-space thumbnail" href="#/app/details">
    		<img src="img/crown.jpg">
    		<h2>Al Ain Water + with added Calcium & Fluoride</h2>
    		<i class='icon icon-right ion-ios-arrow-forward' style='margin-top:10px'></i>
    		<p class="p-margin">Bottle: 330ml</p>
    	</a>
    </div>
  </ion-content>
</ion-view>
