<ion-view view-title="">
  	<ion-content>
    	<div class="padding">
    		<!-- <img src="img/crown.jpg" class="img"> -->
    		<video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer img"><source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/></video>
    		<div class="center">
    			<button class="button button-icon button-clear ion-android-settings"></button>
	    		<button class="button button-icon button-clear ion-ios-skipbackward"></button>
	    		<button class="button button-icon button-clear ion-ios-play" ng-click="play()"></button>
	    		<button class="button button-icon button-clear ion-ios-skipforward"></button>
	    		<button class="button button-icon button-clear ion-android-volume-down"></button>
    		</div>
    	</div>


	   	<div class="list padding">
	   		<a class="item item-avatar mgn-btm" href="#">
	   			<img src="img/crown.jpg">
	   			<h2>Did You Know?</h2>
	   			<p>Al Ain Water puts the facts in your glass</p>
	    	</a>
	    	<a class="item item-avatar" href="#" style='margin-bottom:-25px;'>
	   			<img src="img/crown.jpg">
	   			<h2>Tip of the Day</h2>
	   			<p>Al Ain Water is making your days easier</p>
	    	</a>
	    </div>

	    <div class="padding">
	    	<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play='true' slide-interval='2000' does-continue='true'> 
  				<ion-slide>
    				<div id='logo'><img src="img/crown.jpg" class="img-bottom"></div>
  				</ion-slide>
  				<ion-slide>
    				<div id='logo'><img src="img/ionic.png" class="img-bottom"></div>
  				</ion-slide>
  				<ion-slide>
    				<div id='logo'><img src="img/crown.jpg" class="img-bottom"></div>
  				</ion-slide>
			</ion-slide-box>
	    </div>
	</ion-content>
</ion-view>
