<ion-view>
	<ion-content>
		<div class="list padding">
    	<ion-item style='border-color: #3ac6fe;min-height:650px' class="padding">
	    	<h2 class="padding">Your Orders</h2>
        <div>
          <div class="row row1">
            <div class="col col-35">Date</div>
            <div class="col col-40">Product</div>
            <div class="col col-25">Status</div>
          </div>
          <div class="row row2">
            <div class="col col-35"><span>27 Sep 2014</span></div>
            <div class="col col-40"><span>Bottled Water 5ltr</span></div>
            <div class="col col-25"><span>Delivered</span></div>
          </div>
          <div class="row row3">
            <div class="col col-35"><span>02 Oct 2014</span></div>
            <div class="col col-40"><span>Bottled Water 5ltr</span></div>
            <div class="col col-25"><span>Delivered</span></div>
          </div>
          <div class="row row4">
            <div class="col col-35"><span>04 Oct 2014</span></div>
            <div class="col col-40"><span>Bottled Water 5ltr</span></div>
            <div class="col col-25"><span class='deliver'>Delivers in 1 day</span></div>
          </div>
        </div>
      </ion-item>
    </div>
	</ion-content>
</ion-view>