<ion-view>
	<ion-content>
		<div class="list padding">
    	<ion-item style='border-color: #3ac6fe;min-height:650px'>
	    	<h2>Order Details</h2>
        <div class="list" style='margin-top: 15px;'>
          <div class="item" style="padding: 0 10px">
            <div class="order-detail">
              <p>
                <span>Ordered Date</span>
                <span style="margin-left: 10%">04 Oct 2014</span>
              </p>
              <p>
                <span>Delivery Date</span>
                <span style="margin-left: 11%">05 Oct 2014</span>
              </p>
              <p>
                <span>No. of Cans</span>
                <span style="margin-left: 15%">1</span>
              </p>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
	</ion-content>
</ion-view>