<ion-view>
	<ion-content>
		<div class="list padding">
    	<ion-item style='border-color: #3ac6fe;min-height:650px'>
	    	<h2>Order Details</h2>
        <div class="list">
          <div class="item">
            <p>
              <span>Ordered Date</span>
              <span>04 Oct 2014</span>
            </p>
            <p>
              <span>Delivery Date</span>
              <span>05 Oct 2014</span>
            </p>
            <p>
              <span>No. of Cans</span>
              <span>1</span>
            </p>
          </div>
        </div>
      </ion-item>
    </div>
	</ion-content>
</ion-view>