<ion-view>
	<ion-content>
		<div class="list padding">
    	<ion-item style='border-color: #3ac6fe;min-height:650px'>
	    	<div class="list padding1">
          <div class="details_list width">
            <span class="input-label">Name</span>
            <label class="item item-input">
              <input type="text">
            </label>
          </div>
          <div class="details_list width">
            <span class="input-label">Address</span>
            <label class="item item-input">
              <textarea rows='5'></textarea>
            </label>
          </div>
          <div class="details_list">
            <span class="input-label">Phone No.</span>
            <label class="item item-input">
              <input type="text">
            </label>
          </div>
          <div class="details_list">
            <span class="input-label">Preferred Time</span>
            <label class="item item-input">
              <input type="text">
            </label>
          </div>
          <div class="details_list" style="margin-bottom: 25px">
            <span class="input-label">Have Coupon</span>
            <ion-checkbox></ion-checkbox>
          </div>
          <div class="details_list">
            <span class="input-label">Urgent</span>
            <ion-checkbox></ion-checkbox>
          </div>
          <div class="submit-btn">
            <button class="button button-small button-positive" ng-click="location('/app/orders')">Submit</button>
          </div>
         
          
        </div>
      </ion-item>
    </div>
	</ion-content>
</ion-view>